@model KanbanBoard.Utility.KanbanTaskManager
@{
    ViewData["Title"] = "View Kanban tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Role Manager</h1>
@*<form method="post" asp-action="AddRole" asp-controller="RoleManager">
    <div class="input-group">
        <input name="roleName" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-info">Add New Role</button>
        </span>
    </div>
</form>*@
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Responsible user</th>
            <th>Creator</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.Tasks)
        {
            <tr>
                <td>@role.Title</td>
                <td>@role.Description</td>
                <td>@role.ResponsibleUser</td>
                <td>@role.Owner</td>
                <td>@role.Time</td>
            </tr>
        }
    </tbody>
</table>
